name: CI

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

concurrency:
  group: ci-{% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

jobs:
  ci:
    uses: the-orrery/.github/.github/workflows/python-ci.yml@77c7ac691d7da788412915d81ad5ac498187d179 # v8
    with:
      ruff-extend-ignore: "['TRY003']"
      ruff-extend-per-file-ignores: "{'tests/**'=['ARG']}"
